@font-face{
    font-family: 'Bedas-Neue';
    src: url(police/bebas_neue/BebasNeue-Regular.ttf);
}
@font-face{
    font-family: 'Berkshireswash';
    src: url(police/berkshire_swash/BerkshireSwash-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Bedas-Neue';
    overflow-y: auto;
}
a{
    text-decoration: none;
    color:black;
}
ul{
    list-style-type: none;
}
::-webkit-scrollbar{
    opacity: 0;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    border-radius: 20px;
}



//*Mixin*/

@mixin flex-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-box-row {
    display: flex;
	justify-content: center;
	flex-direction: row;
}
@mixin flex-box-column-c{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@mixin flex-box-column-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



//*Variable*/

$color-primary:#002c4f;
$color-secondary: #ffff;
$color-tertiary:#002f6c;