@font-face {
  font-family: "Bedas-Neue";
  src: url(police/bebas_neue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Berkshireswash";
  src: url(police/berkshire_swash/BerkshireSwash-Regular.ttf);
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: "Bedas-Neue";
  overflow-y: auto;
  scroll-snap-type: y proximity;
  height: 90vh;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  opacity: 0;
  width: 10px;
  height: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 20px;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 500vw;
  height: 80vh;
}

#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 110vw;
  height: 80vh;
  margin-top: 2vw;
}
#presentation p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #212121;
  background-color: #212121;
  color: white;
  margin-top: 3%;
  text-align: center;
  font-size: 1.8em;
  width: 50%;
  height: 80%;
}

#btn-git {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  background-color: #f5f5f5;
  font-size: 15px;
  width: 18vw;
  height: 5vh;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  height: 80vh;
  margin-top: 2vw;
}

.bloc {
  border: black 1px solid;
  width: 40%;
  height: 40%;
  font-size: 1.5em;
}

span {
  margin-right: 10px;
}

.competences, .experiencesP, .contacts, .etudes, .passionsEtHobbies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  border: 3px solid #212121;
  color: white;
  width: 60vw;
  height: 75vh;
  font-size: 1.5em;
}

#competences, #experiencesP, #contacts, #etudes, #passionsEtHobbies {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#competences h1, #experiencesP h1, #contacts h1, #etudes h1, #passionsEtHobbies h1 {
  color: black;
  font-size: 4em;
  text-align: center;
  margin-top: 10vh;
  width: 60vw;
  height: 10vh;
}

.competences li, .contacts li {
  text-align: center;
  padding: 10px;
}

.etudes li, .passionsEtHobbies li {
  text-align: center;
  padding: 5px;
}

.experiencesP span {
  text-align: center;
  margin: 50px, 0px;
}
.experiencesP li {
  text-align: center;
  padding: 10px;
  margin-right: 50px;
}

.contacts .fas, .contacts .fab {
  margin-right: 10px;
  font-size: 1.2em;
  color: white;
}
.contacts a {
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  width: 100%;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 5%;
  height: 50px;
  color: black;
}
footer span {
  font-family: "Berkshireswash";
  margin-left: 5px;
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  animation: end 6s both;
  pointer-events: none;
  z-index: 7;
  width: 100%;
  height: 100%;
}

.carrer {
  width: 30px;
  height: 30px;
  border: 4px solid black;
  animation: loader 2s infinite ease;
}
.carrer .carreplus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ff6e40;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes end {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btn1:hover, .btn5:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: nav 1000ms;
}

.btn2:hover, .btn4:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: nav 1000ms;
}

.btn3:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: nav 5s;
}

@keyframes nav {
  0% {
    border-bottom: #ff6e40 0px solid;
    border-top: #ff6e40 0px solid;
  }
  100% {
    border-bottom: #ff6e40 1px solid;
    border-top: #ff6e40 1px solid;
  }
}
.competences p, .competences span, .competences li, .experiencesP p, .experiencesP span, .experiencesP li, .contacts p, .contacts span, .contacts li, .etudes p, .etudes span, .etudes li, .passionsEtHobbies p, .passionsEtHobbies span, .passionsEtHobbies li {
  transition: all 1500ms ease-out;
}

#presentation p, .competences, .experiencesP, .contacts, .etudes, .passionsEtHobbies {
  transition: all 1500ms ease-out;
}
#presentation p:hover, .competences:hover, .experiencesP:hover, .contacts:hover, .etudes:hover, .passionsEtHobbies:hover {
  transition: 500ms;
  box-shadow: 1px 5px 15px gray;
  border: 3px solid #ff6e40;
}
#presentation p:hover p, .competences:hover p, .experiencesP:hover p, .contacts:hover p, .etudes:hover p, .passionsEtHobbies:hover p {
  transition: 500ms;
  color: #ffd600;
}
#presentation p:hover li, .competences:hover li, .experiencesP:hover li, .contacts:hover li, .etudes:hover li, .passionsEtHobbies:hover li {
  transition: 500ms;
  color: #ff6e40;
}
#presentation p:hover li span, .competences:hover li span, .experiencesP:hover li span, .contacts:hover li span, .etudes:hover li span, .passionsEtHobbies:hover li span {
  color: #ffd600;
  transition: 500ms;
}
#presentation p:hover li .fas, #presentation p:hover li .fab, #presentation p:hover li a, .competences:hover li .fas, .competences:hover li .fab, .competences:hover li a, .experiencesP:hover li .fas, .experiencesP:hover li .fab, .experiencesP:hover li a, .contacts:hover li .fas, .contacts:hover li .fab, .contacts:hover li a, .etudes:hover li .fas, .etudes:hover li .fab, .etudes:hover li a, .passionsEtHobbies:hover li .fas, .passionsEtHobbies:hover li .fab, .passionsEtHobbies:hover li a {
  color: #ff6e40;
  transition: 500ms;
}

h1 {
  transition: text-shadow 1s;
}
h1:hover {
  transition: 500ms;
  text-shadow: 10px 5px 15px gray;
}

#presentation p:hover {
  transition: 500ms;
  color: #ff6e40;
}

#btn-git {
  transition: all 1500ms ease-out;
}
#btn-git:hover {
  background-color: #212121;
  color: #ff6e40;
  border: #ff6e40 1px solid;
  box-shadow: 1px 5px 15px gray;
  transition: 500ms;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  #loading {
    width: 100%;
    height: 700px;
  }

  #presentation {
    width: 100%;
    height: 500px;
    margin: 10px;
  }
  #presentation p {
    font-size: 1em;
    width: 70%;
    height: 60%;
  }

  #btn-git {
    font-size: 12px;
    width: 30vw;
    height: 5vh;
  }

  section {
    height: 100%;
  }

  .container {
    text-align: center;
    width: 100%;
    height: 500px;
  }

  #competences h1, #experiencesP h1, #contacts h1, #etudes h1, #passionsEtHobbies h1 {
    font-size: 2.5em;
  }

  .competences, .experiencesP, .contacts, .etudes, .passionsEtHobbies {
    margin: 50px, 0px;
    font-size: 1em;
    width: 70%;
    height: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
