@font-face {
  font-family: "Bedas-Neue";
  src: url(police/bebas_neue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Berkshireswash";
  src: url(police/berkshire_swash/BerkshireSwash-Regular.ttf);
}
body {
  font-family: "Bedas-Neue";
  background-color: #f5f5f5;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 20px;
}

#accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#accueil #sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#accueil h1 {
  font-size: 60px;
}
#accueil p {
  font-size: 30px;
}
#accueil #btn {
  margin-top: 50px;
}

#bienvenu {
  border: #f5f5f5 3px solid;
  width: 60vw;
  height: 60vh;
  margin-top: 100px;
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 2px solid;
  background-color: #f5f5f5;
  font-size: 20px;
  width: 18vw;
  height: 5vh;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bloc {
  border: black 1px solid;
  font-size: 1.5em;
}

span {
  margin-right: 10px;
}

#competences, #experiencesP, #contacts, #etudes, #passionsEtHobbies, #lien {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#competences h1, #experiencesP h1, #contacts h1, #etudes h1, #passionsEtHobbies h1, #lien h1 {
  color: black;
  font-size: 4em;
  text-align: center;
  margin-top: 10vh;
  height: 10vh;
}

#experiencesP, #contacts, #etudes, #passionsEtHobbie, #lien {
  margin-top: 10vh;
}

.experiencesP, .contacts, .etudes, .passionsEtHobbies, .lien {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  border: 5px solid #212121;
  color: white;
  width: 100vw;
  height: 65vh;
  font-size: 1.5em;
}

.competences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  border: 5px solid #212121;
  color: white;
  width: 100vw;
  height: 70vh;
  font-size: 1.5em;
}
.competences p {
  margin: 0;
}
.competences ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.competences li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}
.competences .fab {
  font-size: 40px;
}
.competences .niveaux, .competences .support {
  font-size: 18px;
  margin-top: 15px;
  color: #212121;
}
.competences .ios {
  margin-right: 70px;
}
.competences .support {
  font-size: 35px;
}
.competences .support .fas.fa-mobile-alt {
  margin-right: 50px;
}
.competences .support .fas.fa-tablet-alt {
  margin-right: 10px;
}
.competences .left {
  margin-left: 71px;
}
.competences .center {
  margin-left: 50px;
  margin-right: 20px;
}
.competences .right {
  text-align: center;
}
.competences .right span {
  text-align: center;
  margin-top: 6px;
}
.competences .lvl {
  margin-bottom: 40px;
}

.passionsEtHobbies li {
  margin-right: 10px;
}
.passionsEtHobbies .fas {
  color: #212121;
  margin-right: 10px;
}

.etudes li, .passionsEtHobbies li {
  text-align: center;
  padding: 5px;
}

.experiencesP span {
  text-align: center;
  margin: 50px, 0px;
}
.experiencesP li {
  text-align: center;
  padding: 10px;
  margin-right: 50px;
}

.contacts li {
  text-align: center;
  padding: 10px;
}
.contacts .fas, .contacts .fab {
  margin-right: 10px;
  font-size: 1.2em;
  color: #212121;
}
.contacts a {
  color: white;
}

#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 100vw;
  height: 65vh;
  margin-top: 2vw;
}
#presentation p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #212121;
  background-color: #212121;
  color: white;
  margin-top: 3%;
  text-align: center;
  font-size: 1.8em;
  width: 100vw;
  height: 65vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  width: 100%;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 5%;
  height: 50px;
  color: black;
}
footer span {
  font-family: "Berkshireswash";
  margin-left: 5px;
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  animation: end 6s both;
  pointer-events: none;
  z-index: 7;
  width: 100vw;
  height: 100vh;
}

.carrer {
  width: 30px;
  height: 30px;
  border: 4px solid black;
  animation: loader 2s infinite ease;
}
.carrer .carreplus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ff6e40;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes end {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#bienvenu p {
  transition: all 1500ms ease-out;
}

#bienvenu {
  transition: all 1500ms ease-out;
}
#bienvenu:hover {
  transition: 500ms;
  border: #ff6e40 3px solid;
  box-shadow: 1px 5px 15px gray;
}
#bienvenu:hover h1 {
  transition: 500ms;
  text-shadow: 5px 5px 20px gray;
}
#bienvenu:hover p {
  transition: 500ms;
  text-shadow: 5px 5px 20px gray;
}

.fab, .fas, .niveaux {
  transition: all 500ms ease-out;
}

.competences {
  transition: all 1500ms ease-out;
}
.competences:hover {
  transition: 500ms;
  box-shadow: 1px 5px 15px gray;
  border: 5px solid #ff6e40;
}
.competences:hover .fab, .competences:hover .fas, .competences:hover .niveaux, .competences:hover .support {
  transition: 500ms;
  color: #ff6e40;
}

.competences li, .experiencesP li, .contacts li, .etudes li, .passionsEtHobbies li {
  transition: all 500ms ease-out;
}

#presentation p, .experiencesP, .contacts, .etudes, .passionsEtHobbies {
  transition: all 500ms ease-out;
}
#presentation p:hover, .experiencesP:hover, .contacts:hover, .etudes:hover, .passionsEtHobbies:hover {
  transition: 500ms;
  box-shadow: 1px 5px 15px gray;
  border: 5px solid #ff6e40;
}
#presentation p:hover li, .experiencesP:hover li, .contacts:hover li, .etudes:hover li, .passionsEtHobbies:hover li {
  transition: 500ms;
  color: #ff6e40;
}
#presentation p:hover .fas, #presentation p:hover .fab, #presentation p:hover a, .experiencesP:hover .fas, .experiencesP:hover .fab, .experiencesP:hover a, .contacts:hover .fas, .contacts:hover .fab, .contacts:hover a, .etudes:hover .fas, .etudes:hover .fab, .etudes:hover a, .passionsEtHobbies:hover .fas, .passionsEtHobbies:hover .fab, .passionsEtHobbies:hover a {
  transition: 500ms;
  color: #ff6e40;
}

h1 {
  transition: all 500ms ease-out;
}
h1:hover {
  transition: 500ms;
  text-shadow: 10px 5px 15px gray;
}

#presentation p:hover {
  transition: 500ms;
  color: #ff6e40;
}

#btn {
  transition: all 500ms ease-out;
}
#btn:hover {
  border: #ff6e40 2px solid;
  box-shadow: 1px 5px 15px gray;
  text-shadow: 10px 5px 15px gray;
  transition: 500ms;
}

/*# sourceMappingURL=style.css.map */
