//* Animation loading*/
#loading{
  position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    animation: end 6s both;
    pointer-events: none;
    z-index: 7;
    width: 100vw;
    height: 100vh;
}
.carrer {
    width: 30px;
    height: 30px;
    border: 4px solid black;
    animation: loader 2s infinite ease;
    & .carreplus{
        display: flex;
        justify-content: center;
        align-items: center;   
        width: 100%;
        background-color: $color-secondary;
        animation: loader-inner 2s infinite ease-in;
    }       
}
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
@keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
}

@keyframes end{
  0%{
      opacity: 1;
  }
  70%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
//*Animation Accueil*/
#bienvenu p{
  transition: all 1500ms ease-out; 
}
#bienvenu{
  transition: all 1500ms ease-out; 
    &:hover{
      transition: 500ms;
      border: #ff6e40 3px solid ;
      box-shadow: 1px 5px 15px gray;
      & h1{
        transition: 500ms;
        text-shadow: 5px 5px 20px gray;
      }
      & p{
        transition: 500ms;
        text-shadow: 5px 5px 20px gray;
      }
      
    }
}
//*Animation "Compétence"*/
.fab , .fas , .niveaux{
  transition: all 500ms ease-out;
}
.competences{
  transition: all 1500ms ease-out;
  &:hover{
    transition: 500ms;
      box-shadow: 1px 5px 15px gray;
      border: 5px solid $color-secondary;
      & .fab , .fas, .niveaux , .support{
        transition: 500ms;
        color: #ff6e40;
      }
  }
} 
//*Animation La Section */
.competences ,  .experiencesP , .contacts , .etudes , .passionsEtHobbies{
  & li{
    transition: all 500ms ease-out;
  }
}
#presentation p ,  .experiencesP , .contacts , .etudes , .passionsEtHobbies{
  transition: all 500ms ease-out;
    &:hover{
      transition: 500ms;
      box-shadow: 1px 5px 15px gray;
      border: 5px solid $color-secondary;
      & li{
        transition: 500ms;
        color: #ff6e40;
      }
      & .fas , .fab , a {
        transition: 500ms;
        color: #ff6e40;
      }
    }
}

h1{
  transition: all 500ms ease-out;
  &:hover{
    transition: 500ms;
    text-shadow: 10px 5px 15px gray;
  }
}
#presentation p{
  &:hover{
    transition: 500ms;
    color: $color-secondary;
  }
}
//*Animation btn Git-hub*/
#btn{
  transition: all 500ms ease-out;
  &:hover{
    border: $color-secondary 2px solid;
    box-shadow: 1px 5px 15px gray;
    text-shadow: 10px 5px 15px gray;
    transition: 500ms; 
  }
}