
//*navigation*/

.btn1 , .btn5{
    &:hover{
            @include flex-box-center;
            background-color: $color-secondary;
            padding: 15px;
            transition: 1s;
            transform: scale(1.1);
        }
}
.btn2 , .btn4{
    &:hover{
        @include flex-box-center;
        background-color: $color-secondary;
        padding: 15px;
        transition: 1s;
        transform: scale(1.1);
    }
}
.btn3{
    &:hover{
        @include flex-box-center;
        background-color: $color-secondary;
        padding: 15px;
        transition: 0.5s;
        transform: scale(1.1);
    }
}


//*Presentation*/
#presentation{
    & p{
        animation: face 2s ease-in;
    }
}
@keyframes face{
    0%{
        opacity: 0;
        transform: scaleZ(0);
    }
}

.competences ,  .experiencesP , .contacts{
    animation: dark 6s infinite;
}

@keyframes dark{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.01);
        box-shadow: 5px 15px 15px $color-light;
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.01);
        box-shadow: 5px 15px 15px $color-light;
    }
    100%{
        transform: scale(1);
    }
}
.etudes , .passionsEtHobbies{
    animation: light 6s infinite;
}
@keyframes light{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.01);
        box-shadow: 5px 15px 15px $color-light;
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.01);
        box-shadow: 5px 15px 15px $color-light;
    }
    100%{
        transform: scale(1);
    }
}
