#presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    z-index: 0;
    width: 100%;
    height: 700px;
    margin-top: 9%;
    margin-bottom: 5%;
    & p{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 9px 15px grey;
        background-color: $color-tertiary;
        color: $color-secondary;
        margin-top: 3%;
        text-align: center;
        font-size: 1.8em;
        width: 50%;
        height: 80%;
    }
}
#btn-git{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.btn-git{
    text-align: center;
    border: black 1px solid;
    box-shadow: 1px 5px 15px  gray;
    width: 20%;
    height: 50px;
}
h1{
    text-align: center;
    color: black;
    font-size: 4em;
}
#competences  ,  #experiencesP , #contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: $color-secondary;
    width: 100%;
    height: 1000px;
}

#etudes , #passionsEtHobbies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    background-color: $color-secondary;
    width: 100%;
    height: 1000px;
}

.bloc{
    border: black 1px solid;
    background-color: $color-secondary;
    width: 40%;
    height: 40%;
    font-size: 1.5em;
}

span{
    margin-right: 10px
}

.competences ,  .experiencesP , .contacts , .etudes , .passionsEtHobbies{
    @include flex-box-column-c-c;
    background-color: $color-primary;
    color: $color-secondary;
    width: 50%;
    height: 50%;
    font-size: 1.5em;
}

.competences,  .contacts{
    & li{ 
        text-align: center;
        padding: 10px;
    }
}
.etudes , .experiencesP, .passionsEtHobbies{
    & li{
        text-align: center;
        padding: 5px;
    }
}
.fas.fa-envelope , .fab{
    margin-right: 5px;
    font-size: 1.2em;
    color: black;
} 
footer{
    @include flex-box-column-c-c;
    background-color: $color-tertiary;
    width: 100%;
    & p{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 5%;
        height: 50px;
        color: black;
    }
    & span{
        font-family: 'Berkshireswash';
        margin-left: 5px;
    }
}